.container {
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    border-radius: 18px;
    border: 1px solid #dddd12;
    width: 480px;
    height: 40px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.button {
    transition: all 0.2s ease;
    font-weight: 500;
    font-size: large;
    background-color: transparent;
    border: 1px solid #dddd12;
    border-radius: 6px;
    padding: 12px;
    width: inherit;
}

.button:active {
    background-color: #d5efee;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}