.container {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.item {
    width: 240px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;

}

button {
    border: 1px solid #a8a8a8;
    padding: 16px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.button_group {
    display: flex;
    justify-content: space-between;
}